<form id="login-form">
  <div>
    <label for="email">email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/javascript/login.js"></script>