<form id='signup-form'>
  <div>
    <label for='username'>username:</label>
    <input type='text' id='username' />
  </div>
  <div>
    <label for='email'>email:</label>
    <input type='text' id='email' />
  </div>
  <div>
    <label for='password'>password:</label>
    <input type='password' id='password' />
  </div>
  <div>
    <button type='submit'>signup</button>
  </div>
</form>
<script
  src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
></script>
<script src='/javascript/signup.js'></script>